.icon {
  display: inline-block;
  width: auto;
}

/* Sizes */

.iconXSmall {
  height: var(--icon-size-xs);
}

.iconSmall {
  height: var(--icon-size-s);
}

.iconMedium {
  height: var(--icon-size-m);
}

.iconLarge {
  height: var(--icon-size-l);
}
