.input {
  --padding-block: 7px;
  --padding-inline: 9px;
  --label-active-position: -2px;

  position: relative;
  height: 48px;
  padding: var(--padding-block) var(--padding-inline);

  border: 1px solid var(--grey200);
  border-radius: var(--radius-s);
  color: var(--grey700);

  display: flex;
  gap: 10px;

  input {
    flex: 1;
    min-width: 0;
    padding: 0;
    background: none;
    border: none;
    color: var(--grey900);
    text-overflow: ellipsis;
  }

  input:is(:focus, :active) {
    outline: none;
  }
}

.input:focus-within {
  border-color: var(--green500);
  box-shadow: var(--input-elevation-active);
}

.input[aria-disabled="true"] {
  background-color: var(--grey200);
}

.inputInnerContainer {
  position: relative;
  flex: 1;
  display: flex;

  input {
    align-self: flex-end;
  }

  span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    color: var(--grey700);

    pointer-events: none;
    transition: all 150ms ease;
  }

  input:not(:disabled):is(:focus, :active) + span,
  input:not(:disabled):not(:placeholder-shown) + span {
    top: var(--label-active-position);
    transform: translateY(0);

    font-size: var(--font-size-s);

    pointer-events: initial;
  }
}

.inputSuffix {
  min-width: 48px;
  margin-block: calc(-1 * var(--padding-block));
  margin-right: calc(-1 * var(--padding-inline));

  border-left: 1px solid var(--grey200);
  border-radius: 0 var(--radius-s) var(--radius-s) 0;
  background-color: var(--grey000);
  color: var(--grey900);

  display: grid;
  place-content: center;
}
