.radioGroup {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100px;
  justify-content: space-evenly;
  gap: 0;

  label {
    cursor: pointer;
  }

  label + label {
    border-left: 1px solid var(--grey200);
  }

  span {
    height: 100%;
    padding: var(--padding-block) var(--padding-inline);
    color: var(--grey900);
    text-align: center;
    display: grid;
    place-content: center;
  }

  input:not(:checked) + span {
    background-color: var(--grey100);
    color: var(--grey700);
  }
}
