.select {
  --icon-width: 24px;
  --padding-block: 8px;
  --padding-left: 12px;
  --padding-right: calc(var(--icon-width) + 8px);

  isolation: isolate;
  position: relative;
  height: 48px;
  padding-inline: var(--padding-left) var(--padding-right);

  background-image: url("~/assets/icons/arrow_drop_down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  background-size: var(--icon-width);
  border: 1px solid var(--grey200);
  border-radius: var(--radius-s);
  color: var(--grey700);

  select {
    appearance: none;
    position: absolute;
    inset: 0;
    padding: var(--padding-block) var(--padding-left);
    border: 0;
    border-radius: var(--radius-s);
    background-color: transparent;
    cursor: pointer;
  }

  select:is(:focus, :active) {
    outline: none;
  }

  span {
    z-index: 1;
    position: absolute;
    left: var(--padding-left);
    top: 6px;

    color: var(--grey700);

    transition: all 250ms ease;
    pointer-events: none;
  }

  select[data-value=""] {
    color: var(--grey700);
  }

  select[data-value=""] + span {
    display: none;
  }

  select:not([data-value=""]) {
    padding-top: 23px;
    padding-bottom: 7px;
    color: var(--grey900);
  }

  option {
    color: var(--grey900);
  }

  output {
    visibility: hidden;
    white-space: nowrap;
  }
}

.select:focus-within {
  border-color: var(--green500);
  box-shadow: var(--input-elevation-active);
}

/* Colors */

.selectPrimary::before,
.selectSecondary::before {
  content: "";
  z-index: 1;
  position: absolute;
  inset: -1px auto -1px -1px;
  width: 4px;
  border-radius: var(--radius-s) 0 0 var(--radius-s);
}

.selectPrimary::before {
  background-color: var(--green500);
}

.selectSecondary::before {
  background-color: var(--blue100);
}
