body {
  display: grid;
  place-content: center;

  background-color: #cdcdcd; /* figma background color for contrast */
  color: var(--grey900);

  font: var(--font-weight-m) var(--base-font-m);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

strong {
  font-weight: var(--font-weight-l);
}

em {
  font-weight: var(--font-weight-l);
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: var(--grey800);
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
  color: var(--grey900);
}

/* Visually hide element, while keeping it accessible (a11y) */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}
