body {
  display: grid;
  place-content: center;

  background-color: #cdcdcd; /* figma background color for contrast */
  color: var(--grey900);

  font: var(--font-weight-m) var(--base-font-m);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

strong {
  font-weight: var(--font-weight-l);
}
